body
{
    background-color: black;
    background-image: url("../images/Background.jpg");
    background-size: cover;
    
}
#container
{
    display: inline-flex;
}
#formulaire
{
    width:500px;
    margin:0 auto;
    margin-top:3%;
    margin-left: 100px;
    
}
form
{
    width:100%;
    padding: 40px;
    border: 1px solid whitesmoke;
    background-image: url("../images/03.jpg");
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1
{
    width: 40%;
    margin: 0 auto;
    margin-left: 100px;
    padding-bottom: 15px;
    color: rgba(0, 255, 255, 0.678);
}
input[type=text], input[type=password] 
{
    width: 100%;
    padding: 15px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(2, 194, 194);
    box-sizing: border-box;
}

input[type=submit] 
{
    color: whitesmoke;
    background-color: rgb(2, 194, 194);
    padding: 15px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover 
{
    background-color: rgb(87, 82, 82);
    color: rgb(5, 173, 173);
    border: 1px solid rgb(2, 194, 194);
}
#left
{
    border: 1px solid darkslategray;
    background-image: url("../images/pic07.jpg");
    width:300px;
    height: 730px;
    margin:0 auto;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
h2
{
    margin-left: 50px;
    color: whitesmoke;
}
h3
{
    color: rgba(0, 255, 255, 0.678);
}

a
{
    
    text-decoration: none;
    color: rgb(5, 173, 173);
    background-color: rgb(87, 82, 82);
    border: 1px solid rgb(2, 194, 194);
    border-radius: 5px;
}
a:hover
{
    border: 1px solid rgba(0, 255, 255, 0.678);
    color: rgba(0, 255, 255, 0.678);
}
b
{
    color: transparent;
}